<div class="jumbotron">
    <div class="container">
		<h1>Contact Us</h1>
		<p>If you'd like to share photos of dancing monkeys, please email <a href = "mailto:someguy@gmail.com?Subject=Dancing%20Monkeys">someguy@gmail.com</a></p>
    </div>
</div>